/* -------------------------------------------------------
  light common style
------------------------------------------------------- */

/* 滚动条背景与宽度 */
::-webkit-scrollbar {
	width: 6px;
	background: none;
	height: 6px;
}
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.2) inset;
	border-radius: 0px;
	background: white;
	border: 0px solid transparent;
}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
	width: 20px;
	min-height: 1px;
	-webkit-box-shadow: 0 0 0 0px #464f70 inset;
	        box-shadow: 0 0 0 0px #464f70 inset;
	border-radius: 3px;
	background-color: rgba(157, 165, 183, 0.4);
	background-clip: padding-box;
	border: 0px solid transparent;
}
/* 当前窗口未激活的情况下 */  
::-webkit-scrollbar-thumb:window-inactive {  
    background: rgba(157, 165, 183, 0.4);
}
/* hover到滚动条上 */  
::-webkit-scrollbar-thumb:vertical:hover{  
    background: rgba(157, 165, 183, 0.7);
}
/* 滚动条按下 */  
::-webkit-scrollbar-thumb:vertical:active{  
    background: rgba(157, 165, 183, 0.7);
}
/* 滚动条边角样式 */
::-webkit-scrollbar-corner {
	background: white;
}

.blank_box{
  width: 100%;
  height: 10px;
}
.site-heading h1{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
#subdusi{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* search */
#local-search-input{
	-webkit-box-shadow:0px 0px 0px 0px rgb(191,191,191) inset;
	        box-shadow:0px 0px 0px 0px rgb(191,191,191) inset;
	border:1px solid rgb(191,191,191);
	background: none;
}
#local-search-input:focus{
	border:1px solid #66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
	        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#local-search-input::-webkit-input-placeholder{
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
#local-search-input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgb(217,217,217);
    font-family: "Montserrat", sans-serif;
  	-webkit-font-smoothing: antialiased;

}
#local-search-result{ /* div */
	background:rgba(245,245,245,0.9);
	margin:0px;
	padding:0px;
	overflow-y:scroll;
	height:auto;
	max-height:655px;

  -webkit-box-shadow: 0 0 5px #d3d3d3;
  box-shadow: 0 0 5px #d3d3d3;
}
#local-search-result::-webkit-scrollbar{
	display:none;
}
.search-result-list{ /* ul */
	list-style: none; 
	margin:0px;
	padding:3px 4px 0px 4px;
}
.search-result-list li{
	margin-bottom:15px;
}
#local-search-result .search-result-title{ /* a */
	list-style: none; 
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:rgb(121,187,209)!important;
}
#local-search-result .search-result-title:hover{
	color:rgb(56,132,158)!important;
}
.search-result{ /* p */
	margin:0px;
	padding:0px;
	font-size:12px;
}
/* Top */
.post-title{
	position:relative;
}
.top_logo{
	height:30px;
	width:30px;
	margin:0px;
	padding:0px;
	position:absolute;
	top:-37px;
	left:-15px;
	cursor:default!important;
}
/* gitment */
#blog_comments textarea{
	resize:none!important;
	font-size:13px!important;
	background:none!important;
}
.gitment_container{}
.gitment-header-issue-link{
	display:none!important;
}
.hello_visitor{}
.gitment-comment-header{
	background:none!important;
}
.gitment-comment-main{
	border:1px solid rgb(191,191,191);
}
.gitment-comment-body p, .gitment-markdown p{
	font-size:13px!important;
}
.gitment-comment-main:hover{
	border:1px solid rgba(102,175,233,0.6);
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
	        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.gitment-comment-main:hover::before{
	border-width:8px;
	border-right-color:rgba(102,175,233,0.6);
	background:none;
}
.gitment-comment-header{
}
.gitment-comment-avatar-img{
	cursor:pointer!important;
}
.gitment-editor-footer{
	margin-bottom:20px!important;
}
/* Wave */
@media (min-width: 889px) {
	@-webkit-keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	@keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	.waveWrapper {
	    overflow: hidden;
	    position: relative;
	    left: 0px;
	    bottom: -1px;
	    width: 100%;
	    height: 60px;
	    margin: 0px;
	    padding: 0px;
	    background-color: transparent;
	    z-index: 5;
	}
	.wave{
		border:0px;
		position: absolute;
		margin: 0px;
		padding: 0px;
		width: calc(100% + 0.5px);
		height: 100%;
		background-repeat: repeat no-repeat;
	    background-position: 0px bottom;
	    -webkit-transform-origin: left bottom;
	        -ms-transform-origin: left bottom;
	            transform-origin: left bottom;
	    background-size: 100% 60px;
	}
	.wave_before{
		left: 0px;
	    bottom: 0px;
		animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
	}
	.wave_after {
		left: 100%;
	    bottom: 0px;
	    animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
		/*animation-delay:10s;*/
		/*-webkit-animation-delay:10s;*/
	}
}
@media (max-width: 888px) {
	@-webkit-keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	@keyframes move_wave {
	    0% {
	        transform: translateX(0%) translateZ(0) scaleY(1);
			-ms-transform: translateX(0%) translateZ(0) scaleY(1);
			-moz-transform: translateX(0%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(0%) translateZ(0) scaleY(1);
			-o-transform: translateX(0%) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-ms-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-moz-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-webkit-transform: translateX(-50%) translateZ(0) scaleY(0.9);
			-o-transform: translateX(-50%) translateZ(0) scaleY(0.9);
	    }
	    100% {
	        transform: translateX(-100%) translateZ(0) scaleY(1);
			-ms-transform: translateX(-100%) translateZ(0) scaleY(1);
			-moz-transform: translateX(-100%) translateZ(0) scaleY(1);
			-webkit-transform: translateX(-100%) translateZ(0) scaleY(1);
			-o-transform: translateX(-100%) translateZ(0) scaleY(1);
	    }
	}
	.waveWrapper {
	    overflow: hidden;
	    position: relative;
	    left: 0px;
	    bottom: -1px;
	    width: 100%;
	    height: 60px;
	    margin: 0px;
	    padding: 0px;
	    background-color: transparent;
	    z-index: 5;
	    display: none;
	}
	.wave{
		position: absolute;
		margin: 0px;
		padding: 0px;
		width: calc(200% + 0.5px);
		height: 100%;
		background-repeat: repeat no-repeat;
	    background-position: 0px bottom;
	    -webkit-transform-origin: left bottom;
	        -ms-transform-origin: left bottom;
	            transform-origin: left bottom;
	    background-size: 100% 60px;
	}
	.wave_before{
		left: 0px;
	    bottom: 0px;
		animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
	}
	.wave_after {
		left: 200%;
	    bottom: 0px;
	    animation: move_wave 20s linear infinite;
		-webkit-animation:move_wave 20s linear infinite;
		/*animation-delay:10s;*/
		/*-webkit-animation-delay:10s;*/
	}
}

/* Tips */
.notice {
    color: rgba(51,51,51,0.9);
    margin: 14px 10px 10px 10px;
    padding: 0px;
	line-height: 24px!important;
	font-size: 14px;
}
.comment_notes_blank {
    height: 100px;
}

.comment_notes {
    color: rgba(51,51,51,0.9);
    text-align: left;
    font-style: italic;
}

.visitor_notice {
    border: 1px solid rgba(209,216,220,0.9);
    padding: 0px 0px 0px 0px!important;
    border-radius: 10px;
    min-height: 50px;
}

.visitor_notice img{
    height: 40px;
    width: 40px;
    float: left;
    position: relative;
    margin: 5px 10px 5px 10px!important;
    padding: 0px;
    top: 0px;
    left: 0px;
}
.visitor_notice a {
    text-decoration: none;
    color: rgba(51,51,51,0.9);
    font-weight: normal;
    font-style: italic;
}
.visitor_notice a:hover {
    text-decoration: none;
    color: rgba(51,51,51,0.9);
    font-weight: bolder;
    font-style: italic;
}

/* -------------------------------------------------------
  light style
------------------------------------------------------- */

.container {
  position: relative;
  z-index: 99;
}

nav.navbar {
  z-index: 100;
}

@media (min-width: 1200px) {
  .post-container,
  .sidebar-container {
    padding-right: 5%;
  }
}
@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
  }
}
.sidebar-container {
  color: #bfbfbf;
  font-size: 14px;
}
.sidebar-container h5 {
  color: #808080;
  padding-bottom: 1em;
  text-transform: uppercase
}
.sidebar-container h5 a {
  color: #808080 !important;
  text-decoration: none;
}
.sidebar-container a {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #8a8a8a !important;
}
.sidebar-container a:hover,
.sidebar-container a:active {
  color: #ff59ac !important;
}
.sidebar-container .tags a {
  border-color: #bfbfbf !important;
  color: #8a8a8a !important;
}
.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
  border-color: #ff59ac !important;
  color: #ff59ac !important;
}

.sidebar-container .short-about img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebar-container .short-about p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight:600;
  font-style: italic;
}
.sidebar-container .short-about .list-inline > li {
  padding-left: 0px;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
}
p {
  margin: 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  line-height: 1.1;
  font-weight: bold;
}
h4 {
  font-size: 21px;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #ff59ac;
}
a img:hover,
a img:focus {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
article {
  overflow-x: hidden;
  z-index: 99;
  position: relative;

}
blockquote {
  color: #808080;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
}
blockquote p {
  margin: 0;
}
small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}
br + small.img-hint {
  margin-top: -40px;
}
img.shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
@media screen and (max-width: 768px) {
  select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0em 0.4em;
    background: white;
  }
}
select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0 .4em;
    background: #fff;
}
select.sel-lang {
    min-height: 28px;
    font-size: 14px;
}
.table th,
.table td {
  border: 1px solid #eee !important;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  /*border-color: white;*/
}
pre,
.table-responsive {
  -webkit-overflow-scrolling: touch;
}
pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}
.post-container a {
  color: black;
}

.post-container > p > a {
  color: #ff59ac;
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
  margin: 30px 0 10px;
}
.post-container h5 {
  font-size: 19px;
  font-weight: 600;
  color: gray;
}
.post-container h5 + p {
  margin-top: 5px;
}
.post-container h6 {
  font-size: 16px;
  font-weight: 600;
  color: gray;
}
.post-container h6 + p {
  margin-top: 5px;
}
.post-container ul,
.post-container ol {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .post-container ul,
  .post-container ol {
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .post-container ul,
  .post-container ol {
    padding-left: 20px;
  }
}
.post-container ol ol,
.post-container ol ul,
.post-container ul ol,
.post-container ul ul {
  margin-bottom: 5px;
}
.post-container li p {
  margin: 0;
  margin-bottom: 5px;
}
.post-container li h1,
.post-container li h2,
.post-container li h3,
.post-container li h4,
.post-container li h5,
.post-container li h6 {
  line-height: 2;
  margin-top: 20px;
}

.post-container .one-tag-list a:hover,
.post-container .one-tag-list a:focus {
   text-decoration: underline;
   -webkit-text-decoration-color: #ff59ac;
           text-decoration-color: #ff59ac;
}

.post-container .tags a {
  /* color: gray;
  border-color: gray;
  border-radius: 10%; */
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  background: #e7e7e7;
  color: #ff59ac;
  line-height: 1.5;
  margin-left: 1em;
  border-radius: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-weight: 600;
}

.post-container .tags a:hover {
  background: #e7e7e7;
  color: #ff59ac;
}

.post-container .tags a::before {
  position: absolute;
  content: " ";
  border: transparent 0.75em solid;
  border-right-color: transparent;
  border-right-color: #e7e7e7;
  top: 0;
  left: -1.5em;
  height: 0em;
  width: 0em;
}

.post-container .tags a:hover::before {
  border-right-color:#e7e7e7;
}

.post-container .tags a::after {
  position: absolute;
  content: " ";
  background: white;
  width: 0.5em;
  height: 0.5em;
  top: 0.5em;
  left: -0.125em;
  border-radius: 0.25em;
}

/* .post-container .tags a:hover,
.post-container .tags a:active {
  color: #ff59ac;
  border-color: #ff59ac;
} */

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    border: none;
    background: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
    float: right;
    margin: 0px;
  }
  #huxblog_navbar {
    opacity: 0;
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    -ms-transform-origin: top right;
        transform-origin: top right;
    -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  }
  #huxblog_navbar a {
    font-size: 13px;
    line-height: 28px;
  }
  #huxblog_navbar .navbar-collapse {
    height: 0px;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    -ms-transform-origin: top right;
        transform-origin: top right;
    transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #huxblog_navbar li {
    opacity: 0;
    -o-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }
  #huxblog_navbar.in {
    -ms-transform: scaleX(1);
        transform: scaleX(1);
    -webkit-transform: scaleX(1);
    opacity: 1;
  }
  #huxblog_navbar.in .navbar-collapse {
    -ms-transform: scaleY(1);
        transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
  #huxblog_navbar.in li {
    opacity: 1;
  }
}
.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 93;
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: white;
  height: 56px;
  line-height: 25px;
}
.navbar-custom .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}
.navbar-custom .nav li a:active {
  background: rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom body {
    font-size: 20px;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
    line-height: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a:active {
    background: none;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #ff59ac;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #ff59ac;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.4);
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-bottom: 20px;
    /* response on desktop */
  }
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 85px 0 55px;
  color: white;
  z-index: 99;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading {
  padding: 95px 0 70px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 30px;
  margin-bottom: 24px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 30px;
  margin-top: -5px;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  /* font-style: italic; */
  font-weight: 300;
  font-size: 1.5rem;
}
.intro-header .post-heading .meta a {
  color: white;
}

.intro-header .post-heading .meta .post-description {
  margin-right: 1rem;
}

.intro-header .post-heading .meta .post-meta-item-text {
  font-style: normal;
}

.intro-header .post-heading .meta .leancloud-visitors-count {
  margin-right: 1rem;
  font-style: normal !important;
  text-decoration:underline;
  
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
  .intro-header .post-heading .meta {
    font-size: 20px;
  }
}
.post-preview > a {
  color: #404040;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  /* color: #ff59ac; */
}
.post-preview > a > .post-title {
  font-size: 21px;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 8px;
  border-bottom: solid 1px transparent;
}
.post-preview > a > .post-title:hover,
.post-preview > a > .post-title:focus {
  /* color: #404040; */
  text-decoration: underline;
  -webkit-text-decoration-color: #ff59ac;
          text-decoration-color: #ff59ac;
  /* border-bottom: solid 1px #ff59ac; */
}



.post-preview > a > .post-subtitle {
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  font-family: 'Lora', 'Times New Roman', serif;
  color: #808080;
  font-size: 16px;
  font-style: italic;
  padding-left: 1rem;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #ff59ac;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .post-preview > a > .post-subtitle {
    font-size: 16px;
  }
  .post-preview .post-meta {
    padding-left: 1rem;
    font-size: 18px;
  }
}
.post-content-preview {
  font-size: 13px;
  font-style: normal;
  padding-left: 1rem;
  color: #a3a3a3;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.post-content-preview:hover {
  color: #8a8a8a;
}
@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 14px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  font-size: 20px;
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
footer .copyright a {
  color: #337ab7;
}
footer .copyright a:hover,
footer .copyright a:focus {
  color: #ff59ac;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -o-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #ff59ac;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #ff59ac;
  border: 1px solid #ff59ac;
  color: white;
}
.pager {
  margin: 20px 0 20px !important;
  padding: 0px !important;
}
.pager li > a,
.pager li > span {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
  background-color: white;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a {
  color: #404040;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #ff59ac;
  border: 1px solid #ff59ac;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #ff59ac;
}
::selection {
  color: white;
  text-shadow: none;
  background: #ff59ac;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #ff59ac;
}
.tags {
  margin-bottom: -5px;
}
.tags a,
.tags .tag {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #ffffff;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .tags a,
  .tags .tag {
    margin-right: 5px;
  }
}
#tag-heading {
  padding: 70px 0 60px;
}
@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}
#tag_clouds {
  margin: 20px 0 15px 0;
}
#tag_clouds a,
#tag_clouds .tag {
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin: 0 2px;
  margin-bottom: 8px;
  background: #D6D6D6;
}
#tag_clouds a:hover,
#tag_clouds .tag:hover,
#tag_clouds a:active,
#tag_clouds .tag:active {
  background-color: #ff59ac !important;
}
@media only screen and (min-width: 768px) {
  #tag_clouds {
    margin-bottom: 25px;
  }
}
.tag-comments {
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}
.t:first-child {
  margin-top: 0px;
}
.listing-seperator {
  color: #ff59ac;
  font-size: 21px !important;
}
.listing-seperator::before {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}
.one-tag-list .tag-text {
  font-weight: 200;
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7;
}
.one-tag-list .post-preview {
  position: relative;
}
.one-tag-list .post-preview > a .post-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.one-tag-list .post-preview > a .post-subtitle {
  font-size: 12px;
}
.one-tag-list .post-preview > .post-meta {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 12px;
}
@media only screen and (min-width: 768px) {
  .one-tag-list .post-preview {
    margin-left: 20px;
  }
  .one-tag-list .post-preview > a > .post-title {
    font-size: 18px;
    line-height: 1.3;
  }
  .one-tag-list .post-preview > a > .post-subtitle {
    font-size: 14px;
  }
  .one-tag-list .post-preview .post-meta {
    font-size: 18px;
  }
}
.post-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em auto;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}
.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25);
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  border-radius: 0px;
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.comment {
  margin-top: 20px;
}
.comment #ds-thread #ds-reset a.ds-like-thread-button {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}
.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}
.comment #ds-thread #ds-reset .ds-textarea-wrapper {
  background: none;
}
.comment #ds-thread #ds-reset .ds-gradient-bg {
  background: none;
}
#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}
.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}
.page-fullscreen footer .copyright {
  color: #fff;
}
.page-fullscreen footer .copyright a {
  color: #fff;
}
.page-fullscreen footer .copyright a:hover {
  color: #ddd;
}

/* -------------- anchor.ejs -------------- */

/* place left on bigger screen */
@media all and (min-width: 800px) {
  .anchorjs-link{
      position: absolute;
      left: -0.75em;
      font-size: 1.1em;
      margin-top : -0.1em;
  }
}
/* place left on bigger screen */
@media all and (min-width: 800px) {
  .anchorjs-link{
      position: absolute;
      left: -0.75em;
      font-size: 1.1em;
      margin-top : -0.1em;
  }
}

.toc-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.toc-normal {
  width: inherit;
  line-height: 1em;
  font-size: 0.9em;
  overflow: auto;
}

::-webkit-scrollbar { width: 8px; } /* Track */ 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); border-radius: 5px;
} 
/* Handle */ 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(228, 229, 231, 0.6);
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(228, 229, 231, 0.2);
} 

/* -------------------------------------------------------
  特殊效果
------------------------------------------------------- */

.filter-grid:before {
  background-image: url('/blogs/img/grid.png');
}
.filter-grid:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-attachment: fixed;
}


.center-text {
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.center-text {
  margin: auto;
  font-family: Ubuntu,sans-serif;
  font-size: 80px;
}

.glitch {
  position: relative;
  color: #fff;
  mix-blend-mode: lighten;
  overflow: hidden;
  white-space: nowrap;
}

.glitch:before {
  left: -1px;
  text-shadow: 1px 0 #ff3f1a;
}

.glitch:after {
  left: 1px;
  text-shadow: -1px 0 #00a7e0;
}

.glitch:after, .glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0);
  clip: rect(0,0,0,0);
}