
<%- js('js/Valine.min.js') %>
<div id="vcomments"></div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: "GkBuqoGrrflHlKeeUT6egSHQ-9Nh9j0Va",
          appKey: 'XJVaEhLbr7dcGs7fas0Livs1'
      })
  </script>