
<div id="vcomments"></div>
<script>
    async('/blogs/js/Valine.min.js', function() {
        new Valine({
            el: '#vcomments',
            appId: "<%= config.comment.valine.appId %>",
            appKey: "<%= config.comment.valine.appKey %>",
            visitor: true
        })
    });
</script>